<!-- <h1>{{title}}</h1> -->
<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand disabled" href="#">Navbar</a> -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/heroes">Courses</a>
      <!-- <a class="nav-item nav-link" href="#">Pricing</a> -->
      <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
